@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ds2e41');
  src:  url('fonts/icomoon.eot?ds2e41#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ds2e41') format('truetype'),
    url('fonts/icomoon.woff?ds2e41') format('woff'),
    url('fonts/icomoon.svg?ds2e41#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pin:before {
  content: "\e900";
}
.icon-pin-off:before {
  content: "\e901";
}
